<h1>Enter your article here! </h1>

	<%= form_for Article.new do |f| %>
	  
	  <div class='field'>
	    <%= f.label :title, 'category' %>
	    <%= f.text_field :title %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :title, "title" %>
	      <%= f.text_field :title %>
	  </div>
	  
	  <div class="field">
	    <%= f.label :text, "text" %>
	      <%= f.text_area :text, rows: "20", cols: "100" %>
	  </div>

	  <div class="form-actions">
	    <%= f.submit nil %>
	    <%= link_to 'Cancel', articles_path %>
	  </div>
	<% end %>
	